@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.input {
	&-btn {
		border-radius: 28px;
		background: colors.$dark-pink-gradient;
		box-shadow: 0px 15px 20px colors.$brown-button-shadow;
		border: none;
		cursor: pointer;

		&::before {
			content: url("/src/images/icon-arrow.svg");
		}
		&:hover {
			background: colors.$darker-pink;
		}
	}
}
