@use "../variables/colors" as colors;
@import "../variables/breakpoints";

body {
	margin: 0;
}

.container {
	height: 851px;

	&-bg-img {
		@include sc-breakpoint(1820) {
			width: 67vw;
		}

		height: 851px;
		width: 90vw;
		position: absolute;
		z-index: 1;
	}
}

.wrapper {
	max-height: 851px;
	position: relative;
	display: grid;
	grid-template-rows: repeat(12, minmax(0, 1fr));
	grid-template-columns: repeat(12, minmax(0, 1fr));
	background: linear-gradient(
		150.03deg,
		colors.$white 0%,
		colors.$white-pink 84.51%
	);

	&-form {
		@include sc-breakpoint(1024) {
			grid-column: 2/6;
		}
		@include sc-breakpoint(1400) {
			grid-column: 3/6;
		}
		@include sc-breakpoint(1820) {
			grid-column: 4/6;
		}
		z-index: 2;
		grid-row: 4;
	}

	.logo-img {
		@include sc-breakpoint(1024) {
			grid-column: 2/3;
		}
		@include sc-breakpoint(1400) {
			grid-column: 3/3;
		}
		@include sc-breakpoint(1820) {
			grid-column: 4/4;
		}
		height: 50px;
		z-index: 2;
		margin-top: 50px;
	}

	.content {
		z-index: 2;
		max-height: 500px;

		&-img {
			@include sc-breakpoint(1820) {
				grid-column: 10/-1;
			}
			z-index: 1;
			grid-column: 8/-1;
			grid-row: 1/-1;

			img {
				width: 100%;
				height: 851px;
				object-fit: cover;
			}
		}
	}
	.input-field {
		position: relative;

		.input {
			&-email {
				height: 56px;
				width: 445px;
				margin-top: 15px;
				border-radius: 28px;
				border: 1px solid colors.$coral-pink;
			}
		}
	}

	.icon-error {
		display: none;
		&--active {
			display: block;
			position: absolute;
			top: 30px;
			left: 281px;
		}
	}

	.input-border-error {
		border: 2px solid colors.$rejected-red !important;
	}
}
