@use "../variables/colors" as colors;
@import "../variables/breakpoints";

body {
	font-family: "Josefin Sans";
}

.main-heading,
.subheading {
	@include sc-breakpoint(768) {
		font-size: 64px;
		line-height: 64px;
	}
	font-size: 40px;
	line-height: 42px;
	letter-spacing: 17.32;
	margin: 0;
}

.main-heading {
	font-weight: 300;

	color: colors.$brown-pink;
}

.subheading {
	font-weight: 600;
}

.main-text {
	@include sc-breakpoint(768) {
		font-size: 16px;
	}
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	color: colors.$brown-pink;
}

.input {
	&-email {
		padding-left: 30px;
		&[type="email"] {
			font-size: 16px;
			line-height: 28px;
			color: colors.$black;
		}
		&::placeholder {
			font-size: 16px;
			color: colors.$brown-pink;
		}
	}

	&-message {
		display: none;
	}

	&-rejected,
	&-success {
		display: block;
		font-size: 13px;
		line-height: 28px;
		padding-left: 20px;
	}

	&-rejected {
		color: colors.$rejected-red;
	}
	&-success {
		color: colors.$brown-pink;
	}
}
